<script>

    const item_id = "{{ resume_id }}"
    const load_page_url = "{% url 'resume' %}";
    const remove_rul = "{% url 'remove_resume' %}";

    $('#new-resume-close').on('click', function (event) {
        history.back();
    });

</script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("json-editor"), {
        mode: "application/json",
        lineNumbers: true,
        theme: "default",  // You can choose other themes
        tabSize: 2,
        autoCloseBrackets: true,
        matchBrackets: true,
        lineWrapping: true,
        gutters: ["CodeMirror-lint-markers"],
        lint: true
    });

    // Optional: Format JSON content on load
    var content = editor.getValue();
    try {
        editor.setValue(JSON.stringify(JSON.parse(content), null, 2));  // Beautify on load
    } catch (e) {
        console.log("Invalid JSON");
    }

</script>
