{% load list_helper %}
{% load static %}

{% for item in page.object_list %}
<!-- Display the resume item -->
<tr>
    <td class="first-table-item">
        {% include 'includes/icons/icons_menu_rowlist.html' %}
        <button class="btn btn-link text-dark m-0 p-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="مشاهده">
            <a href="{% url 'print_resume' resume_id=item.id %}">
                <img src="{% static 'assets/svg/checkandsend.svg' %}" alt="check item status">
            </a>
        </button>
    </td>
    <td><span class="fw-normal">{{ item.company_name|word_wrap }}</span></td>
    <td><span class="fw-normal">{{ item.role_name }}</span></td>
    <td><span class="fw-normal">{{ item.ad_link }}</span></td>
    <td><span class="fw-normal">{{ item.created_at }}</span></td>
</tr>
{% empty %}
<tr>
    <td class="text-gray-400 text-center" colspan="7">
        در حال حاضر رزومه‌ای موجود نیست.
    </td>
</tr>
{% endfor %}