{% extends 'layouts/base_print.html' %}
{% load static %}

{% block content %}

    <!-- Header Section -->
    <header class="resume-header d-flex">
        <div class="header-text">
            <h1 class="title-name">{{ data.personal_info.name }}</h1>
        </div>
        <div class="profile-image-container">
            <div>
                <img src="{{ profile_image.url }}" alt="Profile Picture">
            </div>
        </div>
    </header>

    <div class="second-header">
        <h2>{{ data.personal_info.role }}</h2>
        <p>born {{ data.personal_info.dob }}</p>
    </diV>

    <!-- Professional Summary -->
    <section class="summary">
        <h3>Professional Summary</h3>
        <p>{{ data.summary }}</p>
    </section>
    
    <div class="d-flex justify-content-between">

        <!-- Work Experience -->
        <div class="work-experience">
            <h3>Work Experience</h3>
            <div class="experience-item">
                <h4>Founder at ezFactor</h4>
                <p><em>Tehran, Iran</em> - April 2023 - Current</p>
                <p>
                    Developed and deployed scalable backend solutions with Django, working over 1500+ hours on core features.
                </p>
            </div>
            <!-- Repeat similar structure for other work experiences -->
        </div>

        <!-- Skills Section -->
        <div class="skills">
            <h3>Software Skills</h3>
            <div class="skill-item">
                <span>Python (Backend)</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 90%;"></div>
                </div>
            </div>
            <div class="skill-item">
                <span>Django</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 80%;"></div>
                </div>
            </div>
            <!-- Repeat similar structure for other skills -->
        </div>

    </div>

{% endblock content %}
