<!-- header -->
{% load static %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4 pe-4">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="#">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
              </path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">خانه</a></li>
        {% if breadcomb2 %}
        <li class="breadcrumb-item" aria-current="page"><a href="{{ breadcomb1link }}">{{ breadcomb }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ breadcomb2 }}</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ breadcomb }}</li>
        {% endif %}

      </ol>
    </nav>
    <h2 class="h4">{{ title }}</h2>
  </div>
</div>


<div class="table-settings mb-4">
  <div class="row align-items-center justify-content-between">

    <div class="col col-md-6 col-lg-3 col-xl-4">
      <div class="input-group me-2 me-lg-3 fmxw-400">
        {% if search %}
        <span class="input-group-text">
          <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"></path>
          </svg>
        </span>
        <input type="text" id="searchInput" class="form-control" placeholder="جستجو">
        {% endif %}
      </div>
    </div>

    {% if date_filter %}
    {% load jalali_tags %}

    <div class="col col-md-6 col-lg-3 col-xl-4">
      <div class="input-group me-2 me-lg-3 fmxw-400">
        <span class="input-group-text">
          <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"></path>
          </svg>
        </span>
        <input type="text" id="from_date" name="search-date-picker" placeholder="از تاریخ"
          class="jalali_date-date form-control" />
        <input type="text" id="to_date" name="search-date-picker" placeholder="تا تاریخ"
          class="jalali_date-date form-control" />
        <a id="close-search-by-date" class="cancel-search-icon">
          <img src="{% static 'assets/svg/exit.svg' %}" alt="cancel">
        </a>
        <!-- <input type="text" name="from_date" value="1402-08-15" class="jalali_date-date form-control hasDatepicker" size="10" placeholder="تاریخ مبدا" required="" id="id_from_date"> -->
      </div>
    </div>
    {% endif %}
    {% if link_add_item %}
    <div class="col-4 col-md-2 col-xl-1 ms-sm-4 text-end">
      <a href="{{ link_add_item }}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        جدید
      </a>
    </div>
    {% endif %}
  </div>
</div>